@charset "UTF-8";

.paciente-informacao {
	
	justify-content: start;
	display: flex;
	gap: 15px;
}
.teste {
	background-color:  rgb(25, 41, 79);
	color: #00FF00;
	font-weight: bold;


}
.pacient {
 border: 2px solid rgb(25, 41, 79); 
    padding: 25px;             
    background-color: #f0f0f0; 
}



.endereco{
		background-color:  rgb(25, 41, 79);
	color: #00FF00;
	font-weight: bold;
	margin-bottom: 50px;
	

}

/* parte da separacao do icone e menu */



 





/* parte da responsividade */

@media (max-width : 600px){
	.paciente-informacao {
	display: block;
	
	} 
	
}