    /* Cor de fundo com transição suave */
    nav.navbar {
        background-color: #f8f9fa;
        transition: background-color 0.3s ease-in-out;
    }

    /* Sombra e efeito de hover nos botões */
    #sidebarToggle, .navbar-toggler {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out;
    }

    #sidebarToggle:hover, .navbar-toggler:hover {
        transform: scale(1.1);
    }

    /* Destaque para o nome do usuário */
    .nav-link {
        transition: color 0.3s ease-in-out;
    }

    .nav-link:hover {
        color: #007bff;
    }

    /* Sombra suave para toda a navbar */
    .navbar {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
.fundo{
	background-color: #ededed !important;
}

.texto{
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 4px;
}

form{
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 4px;
}

input, select, option{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.coluna-esquerda{
	background-color: rgb(25, 41, 79);
}

.coluna-direita{
	
}

.table-overflow {
	height: 3rem;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 50vh;
	text-align: center;
}

.table-overflow-accordion {
	height: 4rem;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 50vh;
	text-align: center;
	background-color: #ededed;
}

.sidebar-heading {
	color: #fff;
	font-weight: 400;
}

.card2{
	width: 20rem; 
	margin-left: 5px; 
	margin-bottom: 5px; 
}

/* fade nos elementos */
.fade-in-element {
	animation: fadeIn 0.5s;
	-webkit-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
	-o-animation: fadeIn 0.5s;
	-ms-animation: fadeIn 0.5s;
}
			
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
/* fim fade nos elementos */
